
/* <<< Container >>> */

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-top: 90px;
    /* border: 3px solid red; */
}

/* <<< Header >>> */

header{
    max-width: inherit;
    width: inherit;
    padding: 0px 100px 0px 100px;
    background-color: #9EAEC5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    /* border: 3px solid rgb(98, 36, 177); */
}

.header_logo{
    font-family: 'Rubik';
    color: #F7F5F2;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    background-color: #bfba8f;
    width: 196px;
    height: 100px;
    border-radius: 0px 0px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo:hover{
    cursor: pointer;
    color: black;
    font-size: 2.5rem;
    background-color: #f2e161;
    border-radius: 50%;
}

.header_nav_elements{
    display: flex;
    gap: 47px;
    font-family: 'Rubik'; 
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
}

.active{
    color: #623932;
}

.home,
.artworks,
.contact{
    color: #E3F6F6;
}

li a:hover{
    border-bottom: 2px solid rgb(98, 57, 50);
    padding-bottom: 7px;
}

.fa-cart-shopping{
    color: #EDF0F5;
    font-size: 2.25rem;
}

/* <<< Section >>> */

.section1{
    width: 100%;
    height: 678px;
    background-image: url("../images/section1_bkp.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid rgb(13, 72, 59); */
}

.section1_text{
    color: #FFFFFF;
    font-family: 'Rubik'; 
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    text-align: center;
    box-shadow: 0px 0px 0px black;
    animation: animate 6s 2s;
}

@keyframes animate{
    from{
        color: #FFFFFF;
        font-size: 6rem;
        box-shadow: 0px 0px 0px black;
    }

    to{
        color: #36caf7;
        font-size: 6.5rem;
        box-shadow: inset 0px 0px 20px hwb(53 56% 25%);
        border-radius: 30px;
    }
}

/* <<< Footer >>> */

footer{
    width: 100%;
    background-color: #C0BA8F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 77px 100px 77px 100px;
    /* border: 3px solid rgb(208, 223, 228); */
}

.footer_logo{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    color: #F7F5F2;
}

.footer_text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    color: #DDDBCB;
}

.footer_span{
    text-decoration-line: underline;
}

.footer_icons_div{
    font-size: 2.25rem;
    display: flex;
    gap: 47px;
}

.footer_icon{
    color: #ffffff;
}

.footer_icon:hover{
    font-size: 2.75rem;
    color: yellow;
}

/* <<< Page 2 (artworks) >>> */

.section2_div{
    width: 69%;
    /* height: 276px; */
    background-color: #623932;
    padding: 35px 38px 28px 34px;
    text-align: center;
    /* border: 3px solid green; */
}

.section2_title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 41px;
}
.section2_text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
}

.section3{
    width: 100%;
    /* Height: 1328px; */
    padding: 70px 0px 70px 0px;
    background-color: #6A7B98;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid blue; */
}

.section3_title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;
}

.cards{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    width: 30%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 33px 28px 30px 28px;
    margin-top: 150px;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0px 10px 10px #000000;
}

.image_div{
    width: 100%;
    Height: 289px;
    overflow: hidden;
}

.section3_images{
    border-radius: 10px 10px 0px 0px;
}

.section3_images:hover{
    filter: grayscale(100%);
    transform: scale(1.3);
    transition: 3s;
}

.section3 p{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 2rem;
    color: #82625D;
    text-align: center;
    margin-top: 56px;
}

/* <<< Page 3 (Contact) >>> */

.section4{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 89px 0px 84px 0px;
    background-color: #6A7B98;
    /* border: 3px solid blue; */
}

.page3_contact{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background: rgba(237, 240, 245, 0.68);
    border-radius: 15px;
    padding: 32px 65px 35px 65px;
    gap: 267px;
}

.contact_info{
    width: 50%;
}

.contact_icons{
    font-size: 2.5rem;
    color: rgb(249, 14, 14);
    box-shadow: none;
    transition: linear .2s;
}

.contact_icons:hover{
    color: rgb(59, 172, 100);
}

.call, 
.email_us, 
.address{
    display: flex;
    gap: 40px;
}

.email_us{
    margin-top: 133px;
    margin-bottom: 133px;
}

.contact_titles{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700px;
    font-size: 1.5rem;
    color: #623932;
}

.contact_texts{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300px;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.64);
}

.contact_form{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.form1_top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 121px;
}

#user,
#email{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 4px solid #FFFFFF;
    margin-top: 10px;
    font-size: 1rem;
    width: 232px;
}

form label{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: #F90E0E;
}

.message{
    width: 100%;
    height: 147px;
    border: 3px solid #FFFFFF;
    border-radius: 8px;
    margin-top: 66px;
    margin-bottom: 60px;
}

#message{
    width: 100%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    color: #F7F5F2;
    background-color: transparent;
    margin: 12px 476px 107px 15px;
    border: none;
    outline: none;
    resize: none;
}

.submit{
    width: 50%;
    height: 88px;
    background-color: #F90E0E;
    border: 4px solid #FFFFFF;
    border-radius: 8px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;
    text-shadow: 0px 0px 0px #FFFFFF;
    transition: linear .3s;
}

.submit:hover{
    background-color: rgb(59, 172, 100);
}




